<html>
<head>
</head>
<body bgcolor="white">
<p>Allows Java servlets and applications to generate HTML pages 
or other text output based on templates, so that graphic design 
and other presentation details can be kept separate from 
application logic.</p>

<p>The source code for a template is an HTML or other text document 
that contains instructions for including dynamically-generated data. 
These instructions are simple and unobtrusive (so the graphic designers 
can still do their work), but powerful enough to let you use data structures 
of arbitrary complexity. It's easy to generate tables of data, and you can 
use "if/elseif/else" and "switch" statements to generate conditional HTML.</p>

<p>The <tt>Template</tt> class compiles a template file into an efficient
data structure for later use.  A servlet can compile its template(s) in its
<tt>init()</tt> method, then use the <tt>Template</tt> object(s) to process
each request.  Processing of compiled templates is very fast.</p>

<p>For complete instructions on how to use this package, please see
the <a href="../../manual/index.html" target="_top">manual</a>.
</body>
</html>
