<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.distantshoresmedia.translationkeyboard20" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="org.distantshoresmedia.TKApplication"
        android:allowBackup="true"
        android:backupAgent="org.distantshoresmedia.keyboard.TKIMEBackupAgent"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:killAfterRestore="false"
        android:label="@string/english_name"
        android:logo="@drawable/icon"
        android:restoreAnyVersion="true" >

        <service android:enabled="true" android:name="org.distantshoresmedia.wifiDirect.FileTransferService" />

        <service
            android:name="org.distantshoresmedia.keyboard.LatinIME"
            android:icon="@drawable/icon"
            android:label="@string/english_name"
            android:logo="@drawable/icon"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service android:name=".UpdateService" />

        <activity
            android:name="org.distantshoresmedia.activities.Main"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="translationKeyboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.distantshoresmedia.wifiDirect.WiFiDirectActivity"
            android:label="@string/app_name" android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            >
        </activity>

        <activity
            android:name="org.distantshoresmedia.utilities.TKIMESettings"
            android:label="@string/english_ime_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.distantshoresmedia.keyboard.TKIMEDebugSettings"
            android:label="@string/english_ime_debug_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.distantshoresmedia.keyboard.InputLanguageSelection"
            android:label="@string/language_selection_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.distantshoresmedia.keyboard.INPUT_LANGUAGE_SELECTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.distantshoresmedia.keyboard.PrefScreenActions"
            android:icon="@drawable/icon"
            android:label="@string/pref_screen_actions_title"
            android:logo="@drawable/icon" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.distantshoresmedia.keyboard.PREFS_ACTIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.distantshoresmedia.keyboard.PrefScreenView"
            android:icon="@drawable/icon"
            android:label="@string/pref_screen_actions_title"
            android:logo="@drawable/icon" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.distantshoresmedia.keyboard.PREFS_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.distantshoresmedia.keyboard.PrefScreenFeedback"
            android:icon="@drawable/icon"
            android:label="@string/pref_screen_feedback_title"
            android:logo="@drawable/icon" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.distantshoresmedia.keyboard.PREFS_FEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.distantshoresmedia.activities.ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.distantshoresmedia.keyboard.PrefScreenView" />
        </activity>

        <activity
            android:name="org.distantshoresmedia.activities.LoadActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            >
            <intent-filter android:label="translationKeyboard" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.tk"
                    android:scheme="content" />
            </intent-filter>
            <!--<intent-filter android:label="translationKeyboard" >-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->

                <!--<data-->
                    <!--android:mimeType="*/*"-->
                    <!--android:pathPattern=".*\\.tk"-->
                    <!--android:scheme="file" />-->
            <!--</intent-filter>-->
            <intent-filter android:label="translationKeyboard" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.tk" />
            </intent-filter>
            <intent-filter android:label="translationKeyboard" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.tk"
                    android:scheme="file" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.distantshoresmedia.keyboard.PrefScreenView" />
        </activity>

        <activity android:name="ar.com.daidalos.afiledialog.FileChooserActivity" />
        <activity
            android:name="org.distantshoresmedia.activities.QRReaderActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/title_activity_qrreader"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="org.distantshoresmedia.activities.BluetoothSharingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/title_activity_bluetooth_sharing"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="org.distantshoresmedia.activities.BluetoothReceivingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/title_activity_bluetooth_sharing"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="org.distantshoresmedia.activities.ShowQrCodeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/title_activity_show_qr_code"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.distantshoresmedia.activities.ShareActivity" />
        </activity>

        <receiver android:name="org.distantshoresmedia.UpdateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.distantshoresmedia.activities.FileFinderActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.distantshoresmedia.activities.Main" />
        </activity>

        <activity
            android:name="com.door43.tools.reporting.CrashReporterActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.distantshoresmedia.activities.Main" />
        </activity>

        <activity
            android:name="com.door43.tools.reporting.BugReporterActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.distantshoresmedia.activities.Main" />
        </activity>

    </application>
</manifest>
