<div id="char-new" class="char-row">

  <div class="row">
    <div class="col-xs-7">Character</div>
    <div class="col-xs-2"><input class="single-char" id="key_position_character_new_uft8HexHtml" maxlength="1"
                                 name="key_position[character][new<%= Time.now.to_i %>][uft8HexHtml]" size="1" type="text" value=""></div>
    <div class="col-xs-5">
      <button type="button" class="btn btn-danger btn-sm pull-right delete-key-char">
        <span class="glyphicon glyphicon-minus-sign"></span>
        Delete Key
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-7">UTF-8 Hex</div>
    <div class="col-xs-7"><input class="single-utf8hex" id="key_position_character_new_utf8hex" maxlength="6"
                                 name="key_position[character][new<%= Time.now.to_i %>][utf8hex]" size="6" type="text" value=""></div>
  </div>

</div>