<div class="row">
  <div class="col-xs-7">Character</div>
  <div class="col-xs-7"><%= character_form.text_field :uft8HexHtml, class: "single-char", :maxlength => 1 %></div>
</div>

<div class="row">
  <div class="col-xs-7">UTF-8 Hex</div>
  <div class="col-xs-7"><%= character_form.text_field :utf8hex, class: "single-utf8hex", :maxlength => 6 %></div>
</div>