/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require bootstrap.css
 *= require bootstrap-theme.css
 *= require signin.css
 *= require bootstrap-select.min
 *= require icomoon.css
 *= require jquery-ui
 */


.gravatar {
    margin:0.2em;
    width:40px;
    height:40px;
}

.login-icon {
    margin:0 auto;
 }

.session-links {
    margin:1em 0;
}

.session-links a {

    margin:0.3em 0;
}

.navbar-brand {
    background:url('tk-icons/Icon-48.png') no-repeat center center;
    text-indent:-9999em;
    width:77px;
    height:50px;
    display:block;
}
.login-icon, .login-icon img {
    width:125px;
}



h4 {
    margin-top: 25px;
}
.row {
    margin-bottom: 20px;
	 
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
    	
}
body.keyboard > .container,
body.dashboard > .container{
    margin-top:2em;
    border-color:#ddd;
    background: #fff;
    border-width:1px;
    border-radius: 4px;
	
}
.keyboard-edit-btn {
    margin-top:0.4em;
}
[class*="col-"] {
    /*padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    */
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.shift, .default-char {
    display:none;
}

.long-press {
    display:none;
}
.popover {
    width:300px;
}
.default-key {
    width:100%;
}
.edit-key-btn {
    display:none;
}
.btn {
    margin-top: 6px;
}
.col-xs-111 {
    /*width: 20%;*/
    -moz-box-sizing: border-box;
    float:right;
    padding:5px 15px 0 15px;
}

.button-div {
    max-width:1086px;
    /*display: inline-block;
    width:1170px;*/
    min-width: 20px;
    width: auto;
}
.samplediv {
    width: 1px;
    height: 1px;
    -moz-box-sizing: border-box;
    float:left;
}
@media (max-width: 430px) {
	.col-xs-111 {
	    width: 32%;
	}
}

.reg_name {
   float:left !important;
   width:120px !important;
   margin-left:10px;
   margin-top: 4px;
}

.update-button {
   float:left;
   width:50px;
   margin-left:10px;
}

.col-xs-7 {
   float:left !important;
}

.col-xs-9 {
   float:right !important;
}

.update-btn {
   float:left;
   display: inline-block;
   background-image: #ffffff !important;
}
#ui-id-1 {
z-index:10000;
}


.ui-autocomplete {
    z-index:100000 !important;
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
}
.edit_keyboard_name {
    display: inline-block;
    width: 250px;
    height: 21px;
}

.refer_keyboard {
    width: 268px;
}

.editbtn {
width: 25px;
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: brown;
}