<html>
<head>
<title>FreeMarker: Function Test</title>
</head>
<body>

<p>A simple test follows:</p>

<p>${message}</p>

<p>Now perform function tests:</p>

<assign español = français><#macro français(url, image, alt)>
    <local var = "Kilroy">
    <a href="${url}">
    <if preferences.showImages>
        <img src="${image}" border="0" alt="${alt}">
    <else>
        ${alt}
    </if>
    </a>
    ${var} was here.
</#macro>

<p>Function is defined, now let's call it:</p>

   <call español(urls.home, images.home, "Home")><#t>

<p>Again, but with different parameters:</p>

<@français 
   url=urls.about 
   image=images.about 
   alt="About Us"
/>

<#if var?exists>
   Something is wrong here.
<else>
   Good.
</#if>

<p>A recursive function call:</p>

<macro recurse(dummy, a=3)>
    <if (a > 0)>
        <call recurse(dummy, a - 1)>
    </if>
    ${a}
</macro>

<@recurse urls />

</body>
</html>
